<!DOCTYPE html>
<html lang="en">
<head>
    <base href="{{BASE_URL}}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{project.name}} v{{project.version}}</title>
</head>
<body>
{{> ../partials/menu}}
{{{view}}}
{{#each scripts}}
  <script src="{{../BASE_URL}}{{this}}"></script>
{{/each}}
</body>
</html>
